{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



    {% block title %}
    <title>Sport News</title>
    {% endblock title %}

</head>

{% include "navbar.html" %}
{% comment %} {% include "sidebar.html" %} {% endcomment %}

{% comment %} <body style=""dir="rtl"> {% endcomment %}
<body>


{% block content %}

{% endblock content %}

{% include "footer.html" %}


    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/stellar.js' %}"></script>
    <script src="{% static 'js/vendor/particles.js' %}"></script>
    <script src="{% static 'js/vendor/masonry.js' %}"></script>
    <script src="{% static 'js/vendor/stickysidebar.js' %}"></script>
    <script src="{% static 'js/vendor/contactform.js' %}"></script>
    <script src="{% static 'js/plugins/plugins.min.js' %}"></script>
    
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script> 

</body>
</html>