
            <!-- Start Sidebar Area  -->
            <div class="side-bar">
                <div class="side-article">
                <ul>
                    <li><img class="w-100" src="static/images/blog/blog-01.jpg" alt="Blog Images" /></li>
                    <li><img class="w-100" src="static/images/blog/blog-01.jpg" alt="Blog Images" /></li>
                    <li><img class="w-100" src="static/images/blog/blog-01.jpg" alt="Blog Images" /></li>
                </ul>
            
            </div>
            <!-- End Sidebar Area  -->